body {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

.has-text-centered {
	text-align: center !important;
}

#night-mode {
	margin-right: -80vw;
	z-index: 1;
	top: 10px;
	right: 0px;
	position: -webkit-sticky;
	position: sticky;
}

#night-mode-icon {
	margin-top: -10px;
	width: 25px;
}

/* iOS Toggle Button */
.form-switch {
	display: inline-block;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
  }
  
  .form-switch i {
	position: relative;
	display: inline-block;
	width: 46px;
	height: 26px;
	background-color: #e6e6e6;
	border-radius: 23px;
	vertical-align: text-bottom;
	transition: all 0.3s linear;
  }
  
  .form-switch i::before {
	content: "";
	position: absolute;
	left: 0;
	width: 42px;
	height: 22px;
	background-color: #fff;
	border-radius: 11px;
	transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
	transition: all 0.25s linear;
  }
  
  .form-switch i::after {
	content: "";
	position: absolute;
	left: 0;
	width: 22px;
	height: 22px;
	background-color: #fff;
	border-radius: 11px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
	transform: translate3d(2px, 2px, 0);
	transition: all 0.1s ease-in-out;
  }
  
  .form-switch:active i::after {
	width: 28px;
	transform: translate3d(2px, 2px, 0);
  }
  
  .form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }
  
  .form-switch input { display: none; }
  
  .form-switch input:checked + i { background-color: #b0bfff; }
  
  .form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }
  
  .form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }




.navbar {
	padding: 1.2rem;
	width: 100%;
}

.main {
	margin-top: 2vh;
}

.avatar-img {
	margin-top: 15px;
	width: 150px;
}

.title {
	font-weight: bold;
	font-size: 50px;
	letter-spacing: 3px;
}

.subtitle {
	font-size: 20px;
	margin-top: -10px;
}

.parallax-div-00 {
	/* Parallax Scrolling Effect */
	background-image: url('../images/main.png');
	height: 100vh;
	background-attachment: fixed;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 99%;
}

.parallax-div-01 {
	background: #b0bfff;
	margin-top: -120px;
	height: 100%;
	background-attachment: fixed;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
}

.parallax-div-02 {
	background-image: url('https://i.imgur.com/duRWCkx.jpg');
	height: 140vh;
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-size: contain;
	width: 100%;
}

.parallax-div-03 {
	background-image: url('../images/urban.png');
	height: 150vh;
	background-attachment: fixed;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.about {
	font-size: 1.25rem;
}

.is-white {
	color: white;
}

.about-title {
	padding-top: 8vh;
	font-weight: bold;
	font-size: 30px;
}

.column {
	width: 60%;
	margin: 0 auto;
	display: inline-block;
}

.columns {
    margin-left: -.75rem;
    margin-right: -.75rem;
	margin-top: -.75rem;
}

.columns:last-child {
    margin-bottom: -.75rem;
}

#skills {
	background-color: white;
	margin: 20px auto 12vh auto;
	width: 80%;
	max-width: 1200px;
	border-radius: 20px;
	box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
	display: block;
	justify-content: center;
	display: flex;
}

.col-sm {
	padding: 25px 40px;
}

.col-sm:nth-child(-n+2) {
	border-right: 1px solid #E6ECF8;
}

.iconz {
	margin: 30px 0;
	width: 100px;
}

.smaller-title {
	font-size: 25px;
	font-weight: bold;
}

.list-title {
	color: #b0bfff;
	font-weight: bold;
	font-size: 20px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.top-buffer {
	margin-top: 25px;
}

/* Overlay Effect on Projects */
.project {
	display: block;
	width: 100%;
	height: auto;
  }
  
.caption {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #9AA7E1;
  }
  
.thumbnail:hover .caption {
	opacity: 1;
  }
  
.text {
	color: white;
	font-size: 20px;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  }

.btn-top {
	margin-top: 5px;
}

.box-fade {
	background-color: rgba(233,240,243,0.8);
	padding: 10px 0px 10px 0px;
	width: 50%;
	border-radius: 15px;
	box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
}

/****************
* MEDIA QUERIES *
****************/

/* (A) Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* (B) Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	.parallax-div-00B {
		/* Parallax Scrolling Effect */
		background-image: url('../images/main.png');
		height: 100vh;
		background-attachment: scroll;
		background-position: center bottom 120px;
		background-repeat: no-repeat;
		background-size: 95%;
	}

	.parallax-div-02B {
		background-image: url('https://i.imgur.com/duRWCkx.jpg');
		height: 200vh;
		background-attachment: scroll;
		background-repeat: repeat-x;
		background-size: cover;
		width: 100%;
	}

	.parallax-div-03 {
		background-image: url('../images/urban.png');
		height: 150vh;
		background-attachment: scroll;
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
	}
}

/* (C) Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	.parallax-div-02B {
		background-image: url('https://i.imgur.com/duRWCkx.jpg');
		height: 200vh;
		background-attachment: scroll;
		background-repeat: repeat-x;
		background-size: cover;
		width: 100%;
	}

	.box-fade {
		background-color: rgba(233,240,243,0.8);
		padding: 10px 0px 10px 0px;
		width: 90%;
		border-radius: 15px;
		box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
	}
}

#filters {
	margin-top: 10px;
}

#filter-node, #filter-js, #filter-python, #filter-express, #filter-angular, #filter-react, #filter-mongo {
	margin-top: 5px;
	background-color: #9AA7DF;
	cursor: pointer;
	border: 1px solid #CED7FF;
	border-radius: 8px;
	color: white;
	margin-right: 3px;
	padding: 5px;
}

#filter-reset {
	margin-top: 10px;
	font-size: 15px;
	background-color: transparent;
	color: #424860;
	border: none;
	cursor: pointer;
}

.reset-selected {
	font-size: 15px;
	background-color: transparent;
	color: #424860;
	border: none;
	cursor: pointer;
}

#contact-me {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0px 0px 20px #00000010;
	background-color: rgba(255,255,255,0.9);
	border-radius: 8px;
	margin-top: 60px;
	margin-bottom: 20px;
}

.form-group {
	width: 100%;
	margin-top: 10px;
	font-size: 20px;
	text-align: left;
	color: #6E779F;
  }
  .form-group input,
  .form-group textarea {
	width: 100%;
	padding: 5px;
	font-size: 18px;
	border: 1px solid rgba(128, 128, 128, 0.199);
	margin-top: 5px;
	color: #6E779F;
  }
  
  textarea {
	  height: 150px;
	resize: vertical;
  }

  #contact-text {
	  font-weight: 600;
	  color: #6E779F;
  }

button[type="submit"] {
	width: 30%;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 20px;
	border-radius: 8px;
	background-color: #848FBF;
	color: white;
	text-align: center;
	cursor: pointer;
	margin-top: 10px;
	transition: 0.3s ease background-color;
  }

button[type="submit"]:hover {
	background-color: #CED7FF;
  }

  #status {
	width: 90%;
	max-width: 500px;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	border-radius: 8px;
  }

  #status.success {
	background-color: rgb(211, 250, 153);
	animation: status 4s ease forwards;
  }

  #status.error {
	background-color: rgb(250, 129, 92);
	color: white;
	animation: status 4s ease forwards;
  }

  @keyframes status {
	0% {
	  opacity: 1;
	  pointer-events: all;
	}
	90% {
	  opacity: 1;
	  pointer-events: all;
	}
	100% {
	  opacity: 0;
	  pointer-events: none;
	}
  }
  
  

/* (D) Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* (E) Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
